{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block body_class %}
    {{ app.user.roles|default([])|join(' ')|lower }}
{% endblock %}

{% set _content_title = 'Admin dashboard' %}
{% block page_title -%}
    {{ _content_title }}

{%- endblock %}

{% block main %}

    <h3>Lançados</h3>
            <form action="{{ path('lancamento_find') }}" method="get">

            <div id="custom-search-input">
                <div class="input-group col-md-6">
                    <input type="text" class="form-control input-md" placeholder="Buscar" name="busca" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-md" type="submit">
                           Pesquisar
                        </button>
                    </span>
                </div>
            </div>
            </form>

            <div class="xs tabls">


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            {# sorting of properties based on query components #}
                            <th{% if pagination.isSorted('a.Descricao') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Descrição', 'a.descricao') }}</th>
                            <th{% if pagination.isSorted('a.Tipo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Tipo', 'a.tipo') }}</th>
                            <th{% if pagination.isSorted('a.Valor') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Valor', 'a.valor') }}</th>

                        </tr>
                        </thead>

                        {# table body #}
                        <tbody>
                        {% for lancamento in pagination %}
                            <tr {% if loop.index is odd %}class="success"{% endif %}>
                                <td>{{ lancamento.descricao }}</td>
                                <td>{{ lancamento.tipo }}</td>
                                <td>{{ lancamento.valor }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>

{% endblock %}